@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Quattrocento+Sans:400,400i,700,700i');

/* https://coolors.co/114b5f-028090-e4fde1-456990-f45b69 */
--root {
	--color-1: #34567A; /* B'Dazzled Blue | Primary Color */
	--color-2: #F45B69; /* Fiery Rose | Secondary Color */
	--color-3: #028090; /* Metallic Seaweed | Tertiary color */
	--color-4: #C9FFF6; /* Aero Blue | Code/Quote Background */
	--color-5: #F2F2FD; /* Alice Blue | Site background */
	--color-x: #456990; /* Queen Blue | Primary Color */

}

body {
	background: var(--color-5);
	color: var(--color-1);
	font-family: 'Quattrocento Sans', -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
		"Microsoft YaHei", SimSun, sans-serif;
	font-size: 15px;
}

code {
	background-color: var(--color-4);
	font-family: 'Anonymous Pro', 'Fira Code', 'Fira Mono', 'PT Mono', 'Lucida Console', Monospace;
}

pre code {
	display: block;
	background-color: var(--color-4);
}

a {
	color: var(--color-2);
	text-decoration: none;
	animation: all .08s ease-in;
}

a:hover {
	text-decoration: underline;
}